.choose-country-title {
    position: relative;
    margin: 0;
    padding: 10px 50px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.choose-country-title:before {
    content: '<<<';
    position: absolute;
    top: 10px;
    left: 5%;
}

.country-main-info {
    margin: 5px;
    border: 1px solid grey;
    border-right-width: 3px;
    border-bottom-width: 4px
}

.country-title {
    margin: 0;
    padding: 10px;
}

.country-flag {
    float: right;
    margin: 0;
}

.country-flag-img {
    width: 130px;
    height: auto;
    border: 1px solid grey;
}

.country-border-title {
    margin: 0;
    padding: 10px;
}

.country-borders-list {
    margin: 0;
}

.country-no-border {
    padding-left: 20px;
}