.country-item-paragraph {
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

.country-item-paragraph:hover {
    background: antiquewhite;
    border: 1px solid grey;
}

.country-item-paragraph:active {
    background: beige;
    border: none;
}

.country-item-text {
    border-bottom: 1px solid grey;
}